<!DOCTYPE html>
<html>
  <head>
  <title>ruby in rails tutorial ! <%= @title %></title>
  </head>
<body>
<h1>SUPERmario</h1>
  <p>questa è il potereeeeeeeeee di mario</p>

<div class="container">
         <header>

           <%= image_tag("supermario4.gif", :alt =>"sample app",:class =>"round")  %>
           <nav class="round">

           </nav>
         </header>
             <section class="round">

                <%= yield %>
             </section>


       </div>




</body>

</html>